extends base

block content
    main.main
        .sign-up-form
            h2.heading-secondary.ma-bt-lg Forgot Password?
            form.form.form--forgot_password
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                p.forgot_password_help_text We’ll send a verification link to this email if it matches an existing natours account.
                .form__group
                    button.btn.btn--green Send