extends base

block content
    main.main
        .sign-up-form
            h2.heading-secondary.ma-bt-lg Reset your password
            form.form.form--reset-password
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', value=`${user.email}`, required, readonly)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='confirmPassword') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Reset